# =========================
# Data 
# =========================
data/

# =========================
# Output (모델 결과)
# =========================
output/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# Large files / model artifacts
# =========================
*.npy
*.parquet
*.pt
*.pth

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/